<link rel="stylesheet" href="/styles.css">
<div class="header">
    <h1 class="name">Muhammad Taimoor Farooqi</h1>
    <h4>Web Develepor Intern</h4>
    </div>
    <div class="personal-info"> 
        <p> <span class="phone">Phone:</span> 03092135080</p>
        <p> <span class="phone">Email:</span>taimoorfar203@gmail.com</p>
        <p> <span class="phone">Address: </span>Lahore, Punjab 54000</p>

    </div>
<div class="container">
    <div class="career-objective section">
        <h3 class="phone">CAREER OBJECTIVE</h3>

        <p>Insightful computer science student
            who excels at Java and C. Seeking a 
           web development internship. Recently 
           completed seventh semester with Web
            and AI being the core majors.</p>


            <div class="skills">
                <h4>SKILLS</h4>
                <ul class="list1">
                    <li>Java Language</li>
                    <li>Microsoft Powerpoint</li>
                    <li>C Language</li>
                    <li>MERN</li>
                </ul>
                <H5 class="hskills">PRACTICAL SKILLS</H5>
                <UL class="list1">
                    <li>Visual Design</li>
                    <li>Digital Research</li>
                    <li>Research Analysis</li>
                </UL>
                <H5 class="hskills">PERSONAL SKILLS</H5>
                <UL class="list1">
                    <li>Creativity</li>
                    <li>Planning and Forecasting</li>
                    <li>Management</li>
                    <li>Teamwork</li>
                </UL>
            </div>
    </div>
    <div class="experience section">
        <h3 class="phone">EXPERIENCE</h3>

            <h5>INTERNSHIP STUDENT __________ JULY 2019 - AUGUST 2019</h5>
        
            <div>
                <h6><i>WWF-Pakistan / Lahore, Punjab</i></h6>
                <ul>
                    <li>Performed training tasks in various workplace positions according to 
                        company requirements.</li>
                    <li>participated in numerous group activities, learning modules, and 
                        community service projects.</li>
                    <li>Acquired data from primary or secondary data sources for use in 
                        analysis and trending.</li>
                    <li>Generated innovative solutions to the environmental challenges.</li>
                </ul>
            </div>
            <div class="education">
                <h3 class="phone">EDUCATION</h3>
            
                <div>
                    <h5>BACHELOR OF SCIENCE (B.S.) IN COMPUTER SCIENCE___ 2021 - Present</h5>
                    <p><i>Comsats University Islamabad, Lahore, Punjab</i> <br>
                    Expected Graduation August 2025</p>
                </div>
            
                <div>
                    <h5>COLLEGE DEGREE ________ 2019 - 2021</h5>
                    <p><i>Government College University, Lahore, Punjab</i> <br>
                    Completed Fsc</p>
                </div>
            
                <div>
                    <h5>HIGH SCHOOL __________ 2016 - 2019</h5>
                    <p><i>The City School, Lahore, Punjab</i> <br>
                        Completed O levels.</p>
                </div>
            </div>
            <div class="projects">
                <h3 class="phone">PROJECTS</h3>
            
                <ul>
                    <li><b>Management System Program in JAVA OOPS</b> is an application for 
                        a cat shop that handles pet sales and purchases. It is made to 
                        keep track of the needs of the owner's pet. Its immunization 
                        history, training, food supply, and other information are all kept 
                        in the owner's portal. The project employed the principles of 
                        OOP, where classes and objects assisted in the construction of 
                        methods or functions. <br>
                        <b>LINK : </b> <a target="_blank" href="https://github.com/Taimoor77777/Project">https://github.com/Taimoor77777/Project</a>
                    </li>
                </ul>
            </div>
    </div>
</div>


